@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="Layout_page__FdxFd">
        <div class="theme-dark Hero_hero__q3Jev" data-testid="home-hero">
            <div class="Hero_media__O83zW">

            <video autoplay loop muted height="820" width="1480" style="margin-left:-20px">
                <source src="~/Website/home/images/nebula_-_23906 (Original).mp4" height="820" width="700" />
            </video>    
      </div>
            <div class="Hero_inner__TdZ2M">
                <div class="Hero_text__l0MXQ">
                    <div>
                        Hey <span class="Hero_emoji__96kjb">👋</span> I&#x27;m<!-- --> <span class="Hero_name___Z3Cw">S3limm</span>,<!-- -->
                    </div>
                    <div>
                        A<!-- --> <span class="Hero_title__nGUHa">
                            &quot;Backend Developer&quot;<!-- -->
                        </span><span class="Hero_emoji__96kjb">👨🏻‍💻</span>
                    </div><span class="Hero_mission__vtpV7">
                        I create modern experiences to inspire the builders
                        of tomorrow.
                    </span> <span class="Hero_emoji__96kjb">✨ </span>
                </div>
                <div><a class="Hero_cta__mK43C" href="/about">About me</a></div>
            </div>
        </div>
        <div class="Grid_wrapper__rY988">
            <div class="Layout_columns__Cq4vf Grid_grid__qWybJ">
                <div class="Grid_item__dDKT7" style="grid-column:auto / span 1">
                    <div class="Grid_contents__oOnhg">
                        <div class="Grid_title__JEuyG">
                            <span class="Grid_meta__JzDhZ">
                                <div class="Grid_metatag__1zmnP Grid_type__0SDIt">Article</div>
                                <div class="Grid_metatag__1zmnP date">23 Feb 2023</div>
                            </span><a class="Grid_header__t0wSz" rel="follow" aria-hidden="true"
                                      tabindex="-1"
                                      href="/blog/protecting-next-js-api-routes-query-parameters">
                                Protecting
                                Next.js API Routes: Query Parameters
                            </a>
                        </div>
                        <p class="Grid_description__vJYXJ">
                            How to protect the query parameters of your
                            Next.js API routes from malicious use.
                        </p><a class="Grid_cta__CtM1J"
                               rel="follow"
                               aria-label="Read article about Protecting Next.js API Routes: Query Parameters"
                               href="/blog/protecting-next-js-api-routes-query-parameters">Read article</a>
                    </div>
                </div>
                <div class="Grid_item__dDKT7" style="grid-column:auto / span 1">
                    <div class="Grid_contents__oOnhg">
                        <div class="Grid_title__JEuyG">
                            <span class="Grid_meta__JzDhZ">
                                <div class="Grid_metatag__1zmnP Grid_type__0SDIt">Article</div>
                                <div class="Grid_metatag__1zmnP date">13 Apr 2020</div>
                            </span><a class="Grid_header__t0wSz" rel="follow" aria-hidden="true"
                                      tabindex="-1" href="/blog/streaming-a-canvas-to-leds">
                                Streaming a
                                &lt;canvas&gt; to LEDs
                            </a>
                        </div>
                        <p class="Grid_description__vJYXJ">
                            A detailed guide on how to stream an HTML
                            &lt;canvas&gt; element to an RGB LED matrix using Node.js and a Raspberry
                            Pi.
                        </p><a class="Grid_cta__CtM1J" rel="follow"
                               aria-label="Read article about Streaming a &lt;canvas&gt; to LEDs"
                               href="/blog/streaming-a-canvas-to-leds">Read article</a>
                    </div>
                </div>
                <div class="Grid_item__dDKT7" style="grid-column:auto / span 1">
                    <div class="Grid_contents__oOnhg">
                        <div class="Grid_title__JEuyG">
                            <span class="Grid_meta__JzDhZ">
                                <div class="Grid_metatag__1zmnP Grid_type__0SDIt">Article</div>
                                <div class="Grid_metatag__1zmnP date">25 Mar 2020</div>
                            </span><a class="Grid_header__t0wSz" rel="follow" aria-hidden="true"
                                      tabindex="-1" href="/blog/creating-my-websites-3d-header">
                                Creating My
                                Website&#x27;s 3D Header 1.0
                            </a>
                        </div>
                        <p class="Grid_description__vJYXJ">
                            A complete walk-through of how I created the
                            3D header for my website. From 3D scanning with an iPhone to the WebGL
                            render process.
                        </p><a class="Grid_cta__CtM1J" rel="follow"
                               aria-label="Read article about Creating My Website&#x27;s 3D Header 1.0"
                               href="/blog/creating-my-websites-3d-header">Read article</a>
                    </div>
                </div>
                <div class="Grid_item__dDKT7" style="grid-column:auto / span 1">
                    <div class="Grid_contents__oOnhg">
                        <div class="Grid_title__JEuyG">
                            <span class="Grid_meta__JzDhZ">
                                <div class="Grid_metatag__1zmnP Grid_type__0SDIt">Article</div>
                                <div class="Grid_metatag__1zmnP date">16 Feb 2020</div>
                            </span><a class="Grid_header__t0wSz" rel="follow" aria-hidden="true"
                                      tabindex="-1" href="/blog/building-a-pubg-stats-website">
                                Building a PUBG
                                Stats Website
                            </a>
                        </div>
                        <p class="Grid_description__vJYXJ">
                            An in-depth retrospective of my solo-built
                            stats website for PUBG that scaled to handle 32 million users.
                        </p><a class="Grid_cta__CtM1J" rel="follow"
                               aria-label="Read article about Building a PUBG Stats Website"
                               href="/blog/building-a-pubg-stats-website">Read article</a>
                    </div>
                </div>
            </div>
        </div>
    </div>




