@using Blog_Page.Dto;
@using Blog_Page.Models;
@model Blog

<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Blog Güncelleme Sayfası</h4>
                    <form method="post" asp-area="Admin" asp-controller="Blog" asp-action="Insert" class="forms-sample">
                        <div class="form-group">
                            <label asp-for="Title">Başlık</label>
                            <input asp-for="Title" type="text" class="form-control" placeholder="Başlık:">
                        </div>
                        <div class="form-group">
                            <label asp-for="Description">Açıklama</label>
                            <input asp-for="Description" type="text" class="form-control" placeholder="Açıklama:">
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryID">Kategoriler</label>
                            <select asp-for="CategoryID" class="form-control" asp-items="@(new SelectList(Model.Categories,"ID","CategoryName"))"></select>
                        </div>
                        <div class="form-group">
                            <label>Görsel Yükle</label>
                            <input type="file" name="img[]" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled placeholder="Görsel yükle">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Yükle</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Content">İçerik</label>
                            <textarea class="form-control" rows="4" asp-for="Content"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>