@using Blog_Page.Models;
@model CreateBlogModel

<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Blog Ekleme Sayfası</h4>
                    <form method="post" asp-area="Admin" asp-controller="Blog" asp-action="Insert" class="forms-sample" enctype="multipart/form-data">
                        <div class="form-group">
                            <label asp-for="Title">Başlık</label>
                            <input asp-for="Title" type="text" class="form-control" placeholder="Başlık:">
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description">Açıklama</label>
                            <input asp-for="Description" type="text" class="form-control" placeholder="Açıklama:">
                            <span class="text-danger" asp-validation-for="Description"></span>
                        </div>
                        @* <div class="form-group">
                            <label asp-for="Categories">Kategoriler</label>
                            <select asp-for="Categories" class="form-control" asp-items="@(new SelectList(Model.Categories,"ID","CategoryName"))"></select>
                            <span class="text-danger" asp-validation-for="Categories"></span>
                        </div> *@
                        <!--1.Görsel-->
                        @* <div class="form-group">
                            <label asp-for="FileData">Görsel Yükle</label>
                            <input asp-for="FileData" type="file" name="file" class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input asp-for="FileData" type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Yükle</button>
                                </span>
                            </div>
                            <span class="text-danger" asp-validation-for="FileData"></span>
                        </div> *@
                       
                        <div class="form-group">
                            <label asp-for="Content">İçerik</label>
                            <textarea class="form-control" rows="4" id="summernote" asp-for="Content"></textarea>
                            <span class ="text-danger" asp-validation-for="Content"></span>
                        </div>
                        <button type="submit" class="btn btn-success">Oluştur</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<!--Summer Note-->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

<div id="summernote"></div>
<script>
    $('#summernote').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 2,
        height: 120,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>
