<style id="__jsx-3398092431">
    :root {
        --font-family-blender: '__BlenderPro_54dc17', '__BlenderPro_Fallback_54dc17';
        --font-family-jetbrainsmono: '__JetBrains_Mono_31efa5', '__JetBrains_Mono_Fallback_31efa5'
    }
</style>

<style data-href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,400,1,0&display=block">
    font-face {
        font-family: 'Material Symbols Sharp';
        font-style: normal;
        font-weight: 400;
        font-display: block;
        src: url(~/website/blog/fonts/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H_OdzEL3sVTgJtfbYxOLojCN.woff) format('woff')
    }

    font-face {
        font-family: 'Material Symbols Sharp';
        font-style: normal;
        font-weight: 400;
        font-display: block;
        src: url(~/website/blog/fonts/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H5OdzEL3sVTgJtfbYxOLojCN.woff) format('woff')
    }

    font-face {
        font-family: 'Material Symbols Sharp';
        font-style: normal;
        font-weight: 400;
        font-display: block;
        src: url(~/website/blog/fonts/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H7OdzEL3sVTgJtfbYxOLojCN.woff) format('woff')
    }

    font-face {
        font-family: 'Material Symbols Sharp';
        font-style: normal;
        font-weight: 400;
        font-display: block;
        src: url(~/website/blog/fonts/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H0OezEL3sVTgJtfbYxOLojCN.woff) format('woff')
    }

    font-face {
        font-family: 'Material Symbols Sharp';
        font-style: normal;
        font-weight: 400;
        font-display: block;
        src: url(~/website/blog/fonts/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-HxOezEL3sVTgJtfbYxOLojCN.woff) format('woff')
    }

    .material-symbols-sharp {
        font-family: 'Material Symbols Sharp';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        font-feature-settings: 'liga'
    }

    font-face {
        font-family: 'Material Symbols Sharp';
        font-style: normal;
        font-weight: 400;
        font-display: block;
        src: url(~/website/blog/fonts/gNMyW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV08dDFHsF-H5uf1kzVR4x9.woff2) format('woff2')
    }

    .material-symbols-sharp {
        font-family: 'Material Symbols Sharp';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased
    }
</style>

<div class="Layout_page__FdxFd">
    <div class="Grid_wrapper__rY988">
        <div class="Layout_columns__Cq4vf Layout_triple__oivnm Grid_postlist__IUqPG">
            <div class="Grid_item__dDKT7">
                <div class="Grid_contents__oOnhg">
                    <div class="Grid_title__JEuyG">
                        <span class="Grid_meta__JzDhZ">
                            <div class="Grid_metatag__1zmnP Grid_type__0SDIt">Article</div>
                            <div class="Grid_metatag__1zmnP date">23 Feb 2023</div>
                        </span>
                        <a class="Grid_header__t0wSz" rel="follow" aria-hidden="true" tabindex="-1" href="/blog/protecting-next-js-api-routes-query-parameters">Protecting Next.js API Routes: Query Parameters</a>
                    </div>
                    <p class="Grid_description__vJYXJ">How to protect the query parameters of your Next.js API routes from malicious use.</p>
                    <a class="Grid_cta__CtM1J" rel="follow" aria-label="Read article about Protecting Next.js API Routes: Query Parameters" href="/blog/protecting-next-js-api-routes-query-parameters">Read article</a>
                </div>
            </div>


            <div class="Grid_item__dDKT7">
                <div class="Grid_contents__oOnhg">
                    <div class="Grid_title__JEuyG">
                        <span class="Grid_meta__JzDhZ">
                            <div class="Grid_metatag__1zmnP Grid_type__0SDIt">Article</div>
                            <div class="Grid_metatag__1zmnP date">23 Feb 2023</div>
                        </span>
                        <a class="Grid_header__t0wSz" rel="follow" aria-hidden="true" tabindex="-1" href="/blog/protecting-next-js-api-routes-query-parameters">Protecting Next.js API Routes: Query Parameters</a>
                    </div>
                    <p class="Grid_description__vJYXJ">How to protect the query parameters of your Next.js API routes from malicious use.</p>
                    <a class="Grid_cta__CtM1J" rel="follow" aria-label="Read article about Protecting Next.js API Routes: Query Parameters" href="/blog/protecting-next-js-api-routes-query-parameters">Read article</a>
                </div>
            </div>


            <div class="Grid_item__dDKT7">
                <div class="Grid_contents__oOnhg">
                    <div class="Grid_title__JEuyG">
                        <span class="Grid_meta__JzDhZ">
                            <div class="Grid_metatag__1zmnP Grid_type__0SDIt">Article</div>
                            <div class="Grid_metatag__1zmnP date">23 Feb 2023</div>
                        </span>
                        <a class="Grid_header__t0wSz" rel="follow" aria-hidden="true" tabindex="-1" href="/blog/protecting-next-js-api-routes-query-parameters">Protecting Next.js API Routes: Query Parameters</a>
                    </div>
                    <p class="Grid_description__vJYXJ">How to protect the query parameters of your Next.js API routes from malicious use.</p>
                    <a class="Grid_cta__CtM1J" rel="follow" aria-label="Read article about Protecting Next.js API Routes: Query Parameters" href="/blog/protecting-next-js-api-routes-query-parameters">Read article</a>
                </div>
            </div>



            <div class="Grid_item__dDKT7">
                <div class="Grid_contents__oOnhg">
                    <div class="Grid_title__JEuyG">
                        <span class="Grid_meta__JzDhZ">
                            <div class="Grid_metatag__1zmnP Grid_type__0SDIt">Article</div>
                            <div class="Grid_metatag__1zmnP date">23 Feb 2023</div>
                        </span>
                        <a class="Grid_header__t0wSz" rel="follow" aria-hidden="true" tabindex="-1" href="/blog/protecting-next-js-api-routes-query-parameters">Protecting Next.js API Routes: Query Parameters</a>
                    </div>
                    <p class="Grid_description__vJYXJ">How to protect the query parameters of your Next.js API routes from malicious use.</p>
                    <a class="Grid_cta__CtM1J" rel="follow" aria-label="Read article about Protecting Next.js API Routes: Query Parameters" href="/blog/protecting-next-js-api-routes-query-parameters">Read article</a>
                </div>
            </div>
        </div>
    </div>
</div>
