<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S3limm - Personal Portfolio HTML Template</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Website/Home/css/iconoir.css">

    <link rel="stylesheet" href="~/Website/Home/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Website/Home/css/aos.css">

    <link rel="stylesheet" href="~/Website/Home/css/style.css">
</head>
<body>

    <main class="main-homepage">

        <!-- Header -->
        <header class="header-area">
            <div class="container">
                <div class="gx-row d-flex align-items-center justify-content-between">
                    <a href="~/Home/Index" class="logo">
                        <img src="~/Website/Home/images/s3limm.png" alt="Logo">
                    </a>

                    <nav class="navbar">
                        <ul class="menu">
                            <li><a href="~/Home/Index">Home</a></li>
                            <li><a href="~/About/Index">About</a></li>
                            <li><a href="~/Blog/Index">Blogs</a></li>
                            <li><a href="~/Contact/Index">Contact</a></li>
                        </ul>
                    </nav>

                    <div class="show-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </header>

        @RenderBody()

        <!-- Footer -->
        <footer class="footer-area">
            <div class="container">
                <div class="footer-content text-center">
                    <a href="~/Home/Index" class="logo">
                        <img src="~/Website/Home/images/s3limm.png" alt="Logo">
                    </a>
                    <ul class="footer-menu">
                        <li><a href="~/Home/Index">Home</a></li>
                        <li><a href="~/About/Index">About</a></li>
                        <li><a href="~/Blog/Index">Blogs</a></li>
                        <li><a href="~/Contact/Index">Contact</a></li>
                    </ul>
                    <p class="copyright">
                        © All rights reserved by <span>S3limm</span>
                    </p>
                </div>
            </div>
        </footer>

    </main>


    <script src="~/Website/Home/js/jquery-3.6.4.js"></script>
    <script src="~/Website/Home/js/bootstrap.bundle.min.js"></script>
    <script src="~/Website/Home/js/aos.js"></script>
    <script src="~/Website/Home/js/main.js"></script>
    <script src="~/Website/Home/js/ajax-form.js"></script>
</body>
</html>