@using Blog_Page.Models
@model List<Blog>

  <!-- Breadcrumb -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content" data-aos="fade-up">
            <p>HOME - BLOG</p>
            <h1 class="section-heading"><img src="~/Website/Home/images/star-2.png" alt="Star"> Blog with rightsidebar <img src="~/Website/Home/images/star-2.png" alt="Star"></h1>
        </div>
    </div>
</section>


<!-- Blog Items -->
<section class="blog-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-items">
                    
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="blog-item" data-aos="zoom-in">
                            <div class="img-box">
                                <img src="@*@Model[i].Images[0]*@" alt="Blog">
                            </div>
                            <div class="content">
                                <span class="meta">@Model[i].CreatedDate.ToShortDateString()</span>
                                <h1><a href="blog-details.html">@Model[i].Title</a></h1>
                                <p>@Model[i].Description</p>
                                <a asp-controller="BlogDetail" asp-action="Index" asp-route-id="@Model[i].ID" class="theme-btn">Read More</a>
                            </div>
                        </div>
                    }                 
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar">
                    <div class="blog-sidebar-inner">

                        <div class="blog-sidebar-widget search-widget">
                            <div class="blog-sidebar-widget-inner" data-aos="zoom-in">
                                <form class="shadow-box">
                                    <input type="text" placeholder="Search Here...">
                                    <button class="theme-btn">Search</button>
                                </form>
                            </div>
                        </div>

                        <div class="blog-sidebar-widget recent-post-widget" data-aos="zoom-in">
                            <div class="blog-sidebar-widget-inner shadow-box">
                                <h3>Recent Posts</h3>

                                <ul>
                                    <li><a href="blog-details.html">Consulted admitting is power acuteness.</a></li>
                                    <li><a href="blog-details.html">Unsatiable entreaties may collecting Power.</a></li>
                                    <li><a href="blog-details.html">Discovery incommode earnestly no he commanded</a></li>
                                    <li><a href="blog-details.html">Unsatiable entreaties may collecting Power.</a></li>
                                </ul>

                            </div>
                        </div>

                        <div class="blog-sidebar-widget categories-widget" data-aos="zoom-in">
                            <div class="blog-sidebar-widget-inner shadow-box">
                                <h3>Categories</h3>

                                <ul>
                                    <li><a href="blog-details.html">-Analysis</a></li>
                                    <li><a href="blog-details.html">-Firewall</a></li>
                                    <li><a href="blog-details.html">-IT Solutions</a></li>
                                    <li><a href="blog-details.html">-Security</a></li>
                                    <li><a href="blog-details.html">-Technology</a></li>
                                </ul>

                            </div>
                        </div>

                        <div class="blog-sidebar-widget tags-widget" data-aos="zoom-in">
                            <div class="blog-sidebar-widget-inner shadow-box">
                                <h3>Tags</h3>

                                <ul>
                                    <li><a class="theme-btn" href="blog-details.html">SAAS</a></li>
                                    <li><a class="theme-btn" href="blog-details.html">Development</a></li>
                                    <li><a class="theme-btn" href="blog-details.html">UI/UX</a></li>
                                    <li><a class="theme-btn" href="blog-details.html">Web</a></li>
                                    <li><a class="theme-btn" href="blog-details.html">Figma</a></li>
                                    <li><a class="theme-btn" href="blog-details.html">Java</a></li>
                                    <li><a class="theme-btn" href="blog-details.html">WordPress</a></li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>