<section class="hero-section jarallax">
	<img src="images/post-large-item2.jpg" class="~/Website/home/jarallax-img">
	<div class="hero-content padding-xlarge">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="page-title">Our Blog</h1>
					<div class="breadcrumbs">
						<span class="item"><a href="~/Website/home/index.html">Home /</a></span>
						<span class="item">Our Blog</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="post-grid padding-xlarge">

	<article class="post-item">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-1">
					<div class="post-media">
						<img src="~/Website/home/images/portfolio3.jpg" alt="post">
					</div>
				</div>

				<div class="col-md-4">
					<div class="post-content">
						<div class="post-meta">
							Posted on <span class="meta-date">12th December</span></span>
						</div>
						<h2 class="post-title">
							<a href="#">Graphic Designing Useful Tips & Best Practices</a>
						</h2>
						<p>lorem ipsum dolor sit amet, elit consectetur adipiscing. Odio tincidunt et, massa, turpis nec dolor posuere tempus. Nulla congue et dolor sit amet, elit consectetur adipiscing.</p>
						<a href="single-post.html" class="btn btn-common">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</article>

	<article class="post-item">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-1">
					<div class="post-media">
						<img src="~/Website/home/images/portfolio3.jpg" alt="post">
					</div>
				</div>

				<div class="col-md-4">
					<div class="post-content">
						<div class="post-meta">
							Posted on <span class="meta-date">12th December</span></span>
						</div>
						<h2 class="post-title">
							<a href="#">Graphic Designing Useful Tips & Best Practices</a>
						</h2>
						<p>lorem ipsum dolor sit amet, elit consectetur adipiscing. Odio tincidunt et, massa, turpis nec dolor posuere tempus. Nulla congue et dolor sit amet, elit consectetur adipiscing.</p>
						<a href="single-post.html" class="btn btn-common">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</article>

</section>

<section class="padding-large no-padding-top">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-md-offset-1">

				<nav class="navigation paging-navigation text-center" role="navigation">
					<div class="pagination loop-pagination">
						<span aria-current="page" class="page-numbers current">1</span>
						<a class="page-numbers" href="#">2</a> <a class="page-numbers" href="#">3</a> <a class="page-numbers" href="#">4</a> <span class="page-numbers dots">…</span> <a class="page-numbers" href="#">15</a> <a class="next page-numbers" href="#">Older posts</a>
					</div>
				</nav>

			</div>
		</div>
	</div>
</section>

<footer id="footer" class="padding-xlarge bg-grey">
	<div class="container">
		<div class="row">
			<div class="footer-menu col-md-4">
				<div class="footer-intro">
					<a href="#" class="logo">Chris</a>
				</div>
				<div class="subscribe">
					<p>Subscribe to newsletter to get some updates related with branding, designs and more.</p>
					<input type="text" name="email" placeholder="Write Your Email Address">
					<button class="btn-submit">Subscribe</button>
				</div>
			</div>

			<div class="footer-menu col-md-2">
				<ul class="menu-list">
					<li class="menu-item"><a href="#">Home</a></li>
					<li class="menu-item"><a href="#">About</a></li>
					<li class="menu-item"><a href="#">Portfolio</a></li>
					<li class="menu-item"><a href="#">Services</a></li>
				</ul>
			</div>

			<div class="footer-menu col-md-2">
				<ul class="menu-list">
					<li class="menu-item"><a href="#">Home</a></li>
					<li class="menu-item"><a href="#">About</a></li>
					<li class="menu-item"><a href="#">Portfolio</a></li>
					<li class="menu-item"><a href="#">Services</a></li>
				</ul>
			</div>

			<div class="footer-menu col-md-4">
				<div class="footer-address">
					<p>Just feel free to contact if you wanna collaborate with me, or simply have a conversation.</p>
					<div class="mail-address">
						<a href="#">Creatify@gmail.com</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>	