@using Blog_Page.Models;
@model CreateCategoryModel


<div class="col-xl">
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="mb-0">Create Category</h2>
        </div>
        <div class="card-body">
            <form method="post" asp-area="Admin" asp-controller="Category" asp-action="Insert" class="forms-sample">
                <div class="mb-3">
                    <label class="form-label" asp-for="CategoryName">Name</label>
                    <input type="text" class="form-control" id="basic-default-fullname" asp-for="CategoryName" placeholder="Name" />
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>