@using Blog_Page.Models;
@model Category

<div class="main-panel">
    <div class="content-wrapper">

        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title" style="padding-bottom:20px">Kategori Oluşturma Sayfası</h2>
                    
                    <form method="post" asp-area="Admin" asp-controller="Category" asp-action="Insert" class="forms-sample">
                        <div class="form-group"> 
                            <label asp-for="CategoryName">Kategori Adı</label>
                            <input type="text" class="form-control" asp-for="CategoryName" placeholder="Kategori Adı:">
                            <span class="text-danger" asp-validation-for="CategoryName"></span>
                        </div>                      
                        <button type="submit" class="btn btn-success">Oluştur</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
