   <!-- About -->
<section class="about-area">
    <div class="container">
        <div class="d-flex about-me-wrap align-items-start gap-24">
            <div data-aos="zoom-in">
                <div class="about-image-box shadow-box">
                    <img src="~/Website/Home/images/bg1.png" alt="BG" class="bg-img">
                    <div class="image-inner">
                        <img src="~/Website/Home/images/s3limm.png" alt="About Me">
                    </div>
                </div>
            </div>

            <div class="about-details" data-aos="zoom-in">
                <h1 class="section-heading" data-aos="fade-up"><img src="~/Website/Home/images/star-2.png" alt="Star"> Self-summary <img src="~/Website/Home/images/star-2.png" alt="Star"></h1>
                <div class="about-details-inner shadow-box">
                    <img src="~/Website/Home/images/icon2.png" alt="Star">
                    <h1>Yavuz Selim Emrem</h1>
                    <p>I am a Istanbul-based developer with a focus on backend development, illustration, a visual development. I have a diverse range of experience having worked across various fields and industries.</p>
                </div>

            </div>
        </div>

        <div class="row mt-24">
            <div class="col-md-6" data-aos="zoom-in">
                <div class="about-edc-exp about-experience shadow-box">
                    <img src="~/Website/Home/images/bg1.png" alt="BG" class="bg-img">
                    <h3>Intern</h3>

                    <ul>
                        <li>
                            <p class="date">10.10.2023 - 21.05.2024</p>
                            <h2>Internship</h2>
                            <p class="type">Mikro Yazılım</p>
                        </li>
                        <li>
                            <p class="date"> 27.06.2022 - 21.07.2023</p>
                            <h2>Internship</h2>
                            <p class="type">Nevaa Yazılım</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6" data-aos="zoom-in">
                <div class="about-edc-exp about-education shadow-box">
                    <img src="~/Website/Home/images/bg1.png" alt="BG" class="bg-img">
                    <h3>EDUCATION</h3>

                    <ul>
                        <li>
                            <p class="date">2022 - 2024</p>
                            <h2>Computer Programming</h2>
                            <p class="type">Istanbul Aydın University</p>
                        </li>                     
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mt-24">
            <div class="col-md-12">
                <div class="d-flex profile-contact-credentials-wrap gap-24">

                    <div data-aos="zoom-in">
                        <div class="about-profile-box info-box shadow-box h-full">
                            <img src="~/Website/Home/images/bg1.png" alt="BG" class="bg-img">
                            <div class="inner-profile-icons shadow-box">
                                <a href="https://github.com/s3limm?tab=overview&from=2024-05-01&to=2024-05-11">
                                    <i class="iconoir-github"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/yavuz-selim-emrem/">
                                    <i class="iconoir-linkedin"></i>
                                </a>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="infos">
                                    <h4>Stay with me</h4>
                                    <h1>Profiles</h1>
                                </div>

                                <a href="~/Contact/Index" class="about-btn">
                                    <img src="~/Website/Home/images/icon.svg" alt="Button">
                                </a>

                            </div>
                        </div>
                    </div>

                    <div data-aos="zoom-in" class="flex-1">
                        <div class="about-contact-box info-box shadow-box">
                            <a class="overlay-link" href="~/Contact/Index"></a>
                            <img src="~/Website/Home/images/bg1.png" alt="BG" class="bg-img">
                            <img src="~/Website/Home/images/icon2.png" alt="Icon" class="star-icon">
                            <h1>Let's <br>work <span>together.</span></h1>
                            <a href="~/Contact/Index" class="about-btn">
                                <img src="~/Website/Home/images/icon.svg" alt="Button">
                            </a>
                        </div>
                    </div>

                    <div data-aos="zoom-in" class="h-full">
                        <div class="about-crenditials-box info-box shadow-box">
                            <a class="overlay-link" href="~/Credentials/Index"></a>
                            <img src="~/Website/Home/images/bg1.png" alt="BG" class="bg-img">
                            <img src="~/Website/Home/images/s3limm.png" alt="Sign">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="infos">
                                    <h4>more about me</h4>
                                    <h1>Credentials</h1>
                                </div>

                                <a href="~/Credentials/Index" class="about-btn">
                                    <img src="~/Website/Home/images/icon.svg" alt="Button">
                                </a>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>