<style id="__jsx-3398092431">
    :root {
        --font-family-blender: '__BlenderPro_54dc17', '__BlenderPro_Fallback_54dc17';
        --font-family-jetbrainsmono: '__JetBrains_Mono_31efa5', '__JetBrains_Mono_Fallback_31efa5'
    }
</style>
<style data-href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,400,1,0&display=block">
    font-face {
        font-family: 'Material Symbols Sharp';
        font-style: normal;
        font-weight: 400;
        font-display: block;
        src: url(~/website/about/fonts/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H_OdzEL3sVTgJtfbYxOLojCN.woff) format('woff')
    }

    font-face {
        font-family: 'Material Symbols Sharp';
        font-style: normal;
        font-weight: 400;
        font-display: block;
        src: url(~/website/about/fonts/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H5OdzEL3sVTgJtfbYxOLojCN.woff) format('woff')
    }

    font-face {
        font-family: 'Material Symbols Sharp';
        font-style: normal;
        font-weight: 400;
        font-display: block;
        src: url(~/website/about/fonts/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H7OdzEL3sVTgJtfbYxOLojCN.woff) format('woff')
    }

    font-face {
        font-family: 'Material Symbols Sharp';
        font-style: normal;
        font-weight: 400;
        font-display: block;
        src: url(~/website/about/fonts/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H0OezEL3sVTgJtfbYxOLojCN.woff) format('woff')
    }

    font-face {
        font-family: 'Material Symbols Sharp';
        font-style: normal;
        font-weight: 400;
        font-display: block;
        src: url(~/website/about/fonts/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-HxOezEL3sVTgJtfbYxOLojCN.woff) format('woff')
    }

    .material-symbols-sharp {
        font-family: 'Material Symbols Sharp';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        font-feature-settings: 'liga'
    }

    font-face {
        font-family: 'Material Symbols Sharp';
        font-style: normal;
        font-weight: 400;
        font-display: block;
        src: url(~/website/about/fonts/gNMyW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV08dDFHsF-H5uf1kzVR4x9.woff2) format('woff2')
    }

    .material-symbols-sharp {
        font-family: 'Material Symbols Sharp';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased
    }
</style>




<div class="BlogPost_wrapper__NLC5x BlogPost_cover__2JYmG">
    <div class="BlogPost_headerImage__CEpq8 BlogPost_color__VomoE">
        <img src="https://camo.githubusercontent.com/06e42481d02d8897f51e4b8fa74c1e8769610c4ea02a6f1fc983103dfdc05747/68747470733a2f2f737465616d75736572696d616765732d612e616b616d616968642e6e65742f7567632f323031343834353433303233303638383339322f313434423130373133353841424141353741393933453034363338413532444237373735334446452f3f696d773d3130323426696d683d35373626696d613d66697426696d706f6c6963793d4c6574746572626f7826696d636f6c6f723d253233303030303030266c6574746572626f783d74727565" style="margin:0px -30px" width="1440px" />
    </div>

    <div class="BlogPost_contents__MhVYI">
        <div class="Layout_columns__Cq4vf Layout_triple__oivnm">
            <div class="BlogPost_column__pnLKF">
                <div class="Layout_PageContents__l2q4y">
                    <h1 class="BlogPost_header__RP06Z">About S3limm</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="BlogPost_wrapper__NLC5x">
    <div class="Layout_columns__Cq4vf Layout_triple__oivnm">
        <div class="BlogPost_post__bvIuR">
            <div class="Layout_PageContents__l2q4y">
                <p class="BlogPost_description__NrAmQ">Backend Developer</p>
                <div class="BlogPost_meta__P1UPY">
                    <div>
                        <div class="BlogPost_label__Np2xQ">Type</div>
                        <div class="BlogPost_value__vFfXg">Page</div>
                    </div>
                    <div>
                        <div class="BlogPost_label__Np2xQ">Updated</div>
                        <div class="BlogPost_value__vFfXg">31 May 2023</div>
                    </div>
                </div><div id="introduction" class="PageContents_headerHr__65Diz"></div>
                <h2 class="PageContents_h2__YaLWm">
                    <a href="#introduction" title="Introduction" class="PageContents_link__ZpKnq">
                        <span class="PageContents_underline__K0GRf">Introduction</span>
                        <span class=""></span>
                    </a>
                </h2>
                <p>
                    Hey, I'm <b>S3limm </b>👋.I'm a C# Developer and Designer with a passion. I'm a full-time Backend Developer with a year of experience in Software Development and Web Designing.
                </p>
                <p>
                </p>
                <p>
                    <strong>I'm passionate about:</strong>
                </p>
                <ul class="PageContents_ul__eSbnT">
                    <li class="PageContents_li__lXdhg" style="padding-left:35px">
                        <span class="PageContents_listEmoji__U9Fgp">🌐</span>Developing web projects with ASP.Net Core
                    </li>
                    <li class="PageContents_li__lXdhg"><span class="PageContents_listEmoji__U9Fgp">🖥️</span>Everything about Backend :)</li>
                    <li class="PageContents_li__lXdhg"><span class="PageContents_listEmoji__U9Fgp">❓</span>Solving problems</li>
                </ul>
                <p>
                </p>
                <p>
                    <strong>My current mission is to:</strong>
                </p>
                <ul class="PageContents_ul__eSbnT">
                    <li class="PageContents_li__lXdhg"><span class="PageContents_listEmoji__U9Fgp">🏎️</span>Push the limits of mine</li>
                    <li class="PageContents_li__lXdhg"><span class="PageContents_listEmoji__U9Fgp">🎓</span>Graduate from IAU and move to Germany</li>
                </ul>
                <p></p>
                <p><strong>Outside of tech, I've been spending my time:</strong></p>
                <ul class="PageContents_ul__eSbnT">
                    <li class="PageContents_li__lXdhg"><span class="PageContents_listEmoji__U9Fgp">🎮</span>Playing games</li>
                    <li class="PageContents_li__lXdhg"><span class="PageContents_listEmoji__U9Fgp">✈️</span>Traveling as many times as possible</li>
                    <li class="PageContents_li__lXdhg" style="padding-left:36px">
                        <span class="PageContents_listEmoji__U9Fgp style=">🏊</span>Swimming
                    </li>
                    <li class="PageContents_li__lXdhg" style="padding-left:36px">
                        <span class="PageContents_listEmoji__U9Fgp"><img style="margin:-7px" width="27" height="27" src="https://img.icons8.com/color/48/germany.png" alt="germany" /></span>Learning German
                    </li>
                </ul>
                <div id="uses" class="PageContents_headerHr__65Diz"></div>
                <h2 class="PageContents_h2__YaLWm">
                    <a href="#uses" title="Uses" class="PageContents_link__ZpKnq">
                        <span class="PageContents_underline__K0GRf">Languages and Tools</span><span></span>
                    </a>
                </h2>
                <p>The things I use, so here's a list!</p>
                <p></p>
                <p><strong>Languages</strong></p>
                <ul class="PageContents_ul__eSbnT">
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/C_(programming_language)"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">C</span><span class="">
                                <img src="https://img.icons8.com/color/48/c-programming.png" alt="c-programming" width="16"
                                     height="16" decoding="async" data-nimg="1" loading="lazy" style="color:transparent" />
                            </span>
                        </a>
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer" href="https://learn.microsoft.com/en-us/dotnet/csharp/"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">C#</span><span class="">
                                <img src="~/Website/home/images/c-sharp-c.228x256.png" width="16"
                                     height="16" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
                            </span>
                        </a>
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer" href="https://dotnet.microsoft.com/en-us/"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">ASP.Net Core</span><span>
                                <img src="~/Website/home/images/NET_Core_Logo.svg.png" width="16" height="16"
                                     decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
                            </span>
                        </a>
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer" href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">Html</span><span class="">
                                <img src="https://img.icons8.com/color/48/html-5--v2.png" width="16"
                                     height="16" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
                            </span>
                        </a>
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.w3.org/TR/CSS/#css"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">Css</span><span class="">
                                <img src="https://img.icons8.com/color/48/css3.png" width="16"
                                     height="16" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
                            </span>
                        </a>
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.microsoft.com/en-us/sql-server/sql-server-downloads"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">MS SQL</span><span class="">
                                <img src="https://img.icons8.com/color/48/microsoft-sql-server.png" alt="microsoft-sql-server" width="16"
                                     height="16" decoding="async" data-nimg="1" loading="lazy" style="color:transparent" />
                            </span>
                        </a>
                    </li>
                </ul>
                <p></p>
                <p><strong>I also use:</strong></p>
                <ul class="PageContents_ul__eSbnT">
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://www.adobe.com/tr/products/photoshop/landpb.html?gclid=Cj0KCQjwuNemBhCBARIsADp74QQTVg7gkVu-dkBycRqWfr6onZcJfge5Cc_J6etDZoIFn2aIlmk-1F8aAt1DEALw_wcB&skwcid=AL!3085!3!602469521160!e!!g!!adobe%20photoshop&mv=search&sdid=LZ32SYVR&ef_id=Cj0KCQjwuNemBhCBARIsADp74QQTVg7gkVu-dkBycRqWfr6onZcJfge5Cc_J6etDZoIFn2aIlmk-1F8aAt1DEALw_wcB:G:s&s_kwcid=AL!3085!3!602469521160!e!!g!!adobe%20photoshop!1448694214!55308397806&gad=1"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">Adobe Photoshop</span><span class="">
                                <img src="https://img.icons8.com/color/48/adobe-photoshop--v1.png" alt="adobe-photoshop--v1" width="16" height="16" decoding="async" data-nimg="1" loading="lazy"
                                     style="color:transparent" />
                            </span>
                        </a>
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.adobe.com/tr/products/premiere.html"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">Adobe Premiere Pro</span><span class="">
                                <img src="https://img.icons8.com/color/48/adobe-premiere-pro--v1.png" alt="adobe-premiere-pro--v1" width="16"
                                     height="16" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
                            </span>
                        </a>
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.adobe.com/tr/products/illustrator.html"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">Adobe Illustrator</span><span class="">
                                <img src="https://img.icons8.com/color/48/adobe-illustrator--v1.png" alt="adobe-illustrator--v1" width="16"
                                     height="16" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
                            </span>
                        </a>
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.adobe.com/tr/products/aftereffects.html"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">Adobe After Effects</span><span class="">
                                <img src="https://img.icons8.com/color/48/adobe-after-effects--v1.png" alt="adobe-after-effects--v1" width="16"
                                     height="16" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
                            </span>
                        </a>
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.capcut.com/tr-tr/"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">Capcut</span><span class="">
                                <img src="~/Website/home/images/Capcut-Logo-PNG-HD.png" width="16"
                                     height="16" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
                            </span>
                        </a>
                    </li>
                </ul>
                <p></p>
                <p><strong>Tools:</strong></p>
                <ul class="PageContents_ul__eSbnT">
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer" href="https://getbootstrap.com/"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">Bootstrap</span><span class="">
                                <img src="https://camo.githubusercontent.com/2512b49c89512f2ff3718f7257f48ed5c46a4e331abbd890b6c5e8c0e458434f/68747470733a2f2f676574626f6f7473747261702e636f6d2f646f63732f352e322f6173736574732f6272616e642f626f6f7473747261702d6c6f676f2d736861646f772e706e67" width="16"
                                     height="16" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
                            </span>
                        </a>
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer" href="https://wordpress.com/tr/"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">Wordpress</span><span class="">
                                <img src="https://img.icons8.com/color/48/wordpress.png" alt="wordpress" width="16"
                                     height="16" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
                            </span>
                        </a>
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.canva.com/"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">Canva</span><span class="">
                                <img src="https://img.icons8.com/fluency/48/canva.png" alt="canva" width="16"
                                     height="16" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
                            </span>
                        </a>
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.notion.so/"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">Notion</span><span class="">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Notion-logo.svg/2048px-Notion-logo.svg.png" width="16"
                                     height="16" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
                            </span>
                        </a>
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.parallels.com/eu/pd/general/?utm_source=google&utm_medium=cpc&utm_campaign=pd-dd-all-paidads&utm_id=43693686&utm_content=1475699436&utm_term=parallels%20desktop&gclid=Cj0KCQjwuNemBhCBARIsADp74QTob98a0d_xiJmuHzNKKoxv7aIpHw5qEEiRr_Tsdg-HY9-Ws15YvKsaAgZOEALw_wcB"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">Paralels Desktop</span><span class="">
                                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/81fc046c-8ca1-41d9-8fc4-b222a8f0041a/d7yg7bl-b23d6b9a-99e1-4d77-8cbd-340d77c835e4.png/v1/fill/w_512,h_512/parallels_desktop_10_icon_for_yosemite_by_r2cwb_d7yg7bl-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTEyIiwicGF0aCI6IlwvZlwvODFmYzA0NmMtOGNhMS00MWQ5LThmYzQtYjIyMmE4ZjAwNDFhXC9kN3lnN2JsLWIyM2Q2YjlhLTk5ZTEtNGQ3Ny04Y2JkLTM0MGQ3N2M4MzVlNC5wbmciLCJ3aWR0aCI6Ijw9NTEyIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.xNNo1_JY46Z-PkgY26qKzOxtVdHB2pug19za9oR3Pc8" width="16"
                                     height="16" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
                            </span>
                        </a>
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer" href="https://anydesk.com/en"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">AnyDesk</span><span class="">
                                <img src="https://img.utdstc.com/icon/42e/d96/42ed960562b4ede00e0451b854036c08101c613cd5942cdd787ad91a267459c0:200"
                                     width="16" height="16" decoding="async" data-nimg="1" loading="lazy"
                                     style="color:transparent">
                            </span>
                        </a>
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.teamviewer.com/tr/"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">TeamViewer</span><span class="">
                                <img src="https://img.icons8.com/fluency/48/teamviewer.png" alt="teamviewer" "
                                     width="16" height="16" decoding="async" data-nimg="1" loading="lazy"
                                     style="color:transparent">
                            </span>
                        </a>
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.spotify.com/"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">Spotify</span><span class="">
                                <img src="https://img.icons8.com/fluency/48/spotify.png" alt="spotify" width="16"
                                     height="16" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
                            </span>
                        </a>
                    </li>
                </ul>
                <div id="code-editor" class="PageContents_headerHr__65Diz"></div>
                <h2 class="PageContents_h2__YaLWm">
                    <a href="#code-editor" title="Code Editor" class="PageContents_link__ZpKnq">
                        <span class="PageContents_underline__K0GRf">Code Editor</span><span class=""></span>
                    </a>
                </h2>
                <p><strong>Right now I'm using:</strong></p>
                <ul class="PageContents_ul__eSbnT">
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://visualstudio.microsoft.com/tr/"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">Visual Studio</span><span class="">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Visual_Studio_Icon_2022.svg/2048px-Visual_Studio_Icon_2022.svg.png"
                                     width="16" height="16" decoding="async" data-nimg="1" loading="lazy"
                                     style="color:transparent">
                            </span>
                        </a>
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://code.visualstudio.com/"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">Visual Studio Code</span><span class="">
                                <img src="https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_vscode_icon_130084.png"
                                     width="16" height="16" decoding="async" data-nimg="1" loading="lazy"
                                     style="color:transparent">
                            </span>
                        </a>
                    </li>
                </ul>
                <div id="hardware" class="PageContents_headerHr__65Diz"></div>
                <h2 class="PageContents_h2__YaLWm">
                    <a href="#hardware" title="Hardware" class="PageContents_link__ZpKnq">
                        <span class="PageContents_underline__K0GRf">Hardware</span><span class=""></span>
                    </a>
                </h2>
                <p><strong>Desktop :</strong></p>
                <ul class="PageContents_ul__eSbnT">
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://www.viewsonic.com/tr/products/lcd/VA2432-h"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">
                                ViewSonic VA2405-h
                            </span><span class="">
                                <img src="https://cdn.worldvectorlogo.com/logos/viewsonic-1.svg" width="16" height="16" decoding="async" data-nimg="1" loading="lazy"
                                     style="color:transparent">
                            </span>
                        </a> - 24" Inch 75 Hz Main Monitor
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://support.lenovo.com/tr/tr/accessories/acc500158-lenovo-legion-k300-rgb-gaming-keyboard-overview-and-service-parts"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">Lenovo Legion K300</span><span class="">
                                <img src="https://logos-world.net/wp-content/uploads/2022/07/Lenovo-Logo.png"
                                     width="16" height="16" decoding="async" data-nimg="1" loading="lazy"
                                     style="color:transparent">
                            </span>
                        </a> - Membran RGB Keyboard
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://support.lenovo.com/tr/tr/accessories/acc500263-lenovo-legion-m300s-rgb-gaming-mouse-overview-and-service-parts"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">lenovo Legion M300s</span><span class="">
                                <img src="https://logos-world.net/wp-content/uploads/2022/07/Lenovo-Logo.png" width="16" height="16" decoding="async" data-nimg="1" loading="lazy"
                                     style="color:transparent">
                            </span>
                        </a> - RGB Mouse
                </ul>
                <p></p>
                <p><strong>Custom Built Workstation:</strong></p>
                <ul class="PageContents_ul__eSbnT">
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://www.amd.com/en/support/cpu/amd-ryzen-processors/amd-ryzen-5-desktop-processors/amd-ryzen-5-2600x"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">AMD Ryzen™ 5 2600X</span><span class="">
                                <img src="https://cdn-icons-png.flaticon.com/512/5969/5969036.png"
                                     width="16" height="16" decoding="async" data-nimg="1" loading="lazy"
                                     style="color:transparent">
                            </span>
                        </a> - CPU
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://www.nvidia.com.tr/drivers/results/83080"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">
                                NVIDIA GeForce GTX 560
                            </span><span class="">
                                <img src="https://www.iconarchive.com/download/i97782/bokehlicia/pacifica/nvidia-settings.ico" width="16" height="16" decoding="async" data-nimg="1" loading="lazy"
                                     style="color:transparent">
                            </span>
                        </a> - GPU
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://www.xpg.com/tr/xpg/588"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">2 x 8 GB XPG Gammix D30 DDR4-3200 Mhz</span><span class="">
                                <img src="https://promotions.newegg.com/marketplace/2018/18-0677/lp/images/xpg-symbol.png" width="16" height="16" decoding="async" data-nimg="1" loading="lazy"
                                     style="color:transparent">
                            </span>
                        </a> - RAM
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://gamepowerpc.com/case/dark-side"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">GAMEPOWER Dark Side</span><span class="">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2mSEAsjm1q4xg9SsMoi4LF9Q5q7cdpZwgPDKGTr75yu7Y5VRX1B_fCb40dzifgCO_JDs&usqp=CAU"
                                     width="16" height="16" decoding="async" data-nimg="1" loading="lazy"
                                     style="color:transparent">
                            </span>
                        </a> - Case
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer"
                           href="http://www.gigabyte.com.tr/products/page/mb/b450m_s2h/kf"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">Gigabyte B450M S2H AMD B450 3600MHz (OC) DDR4 </span><span class="">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6l-UYmlE7XlVZXRN4WwXtOaX7mi6iNxauE-s_QyR1sLEbIl-NAKRYzU-wYRnW3zCfra4&usqp=CAU" width="16" height="16" decoding="async" data-nimg="1" loading="lazy"
                                     style="color:transparent">
                            </span>
                        </a> - mATX Motherboard
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://europe.kioxia.com/tr-tr/business/ssd.html"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">KIOXIA PCIe 1TB EXCERIA G2 NVMe 3D 2100/1700 </span><span class="">
                                <img src="https://asset.brandfetch.io/idOgNCoqeU/idt1UpBySo.jpeg" width="16" height="16" decoding="async" data-nimg="1" loading="lazy"
                                     style="color:transparent">
                            </span>
                        </a> - M2 SSD
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://www.corsair.com/us/en/p/psu/cp-9020082-na/rmi-series-rm750i-750-watt-80-plus-gold-certified-fully-modular-psu-cp-9020082-na"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">
                                Corsair RM750i 750W 80 PLUS Gold
                            </span><span class="">
                                <img src="https://companieslogo.com/img/orig/CRSR.D-e6f23eef.png?t=1651628415"
                                     width="16" height="16" decoding="async" data-nimg="1" loading="lazy"
                                     style="color:transparent">
                            </span>
                        </a> - Power Supply
                    </li>
                </ul>

                <p></p>
                <p><strong>Laptop - Macbook Pro "15.4" Inch Touchbar 2017 :</strong></p>
                <ul class="PageContents_ul__eSbnT">
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://support.apple.com/kb/SP756?locale=tr_TR"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">Apple Monitor</span><span class="">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Apple_logo_white.svg/1724px-Apple_logo_white.svg.png"
                                     width="16" height="16" decoding="async" data-nimg="1" loading="lazy"
                                     style="color:transparent">
                            </span>
                        </a> - "15" inch 2880 x 1800 Resolution
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://support.apple.com/kb/SP756?locale=tr_TR"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">9th Generation Intel® Core™ i7 2.8 Ghz</span><span class="">
                                <img src="https://companieslogo.com/img/orig/INTC.D-ad4f349c.png?t=1633221777"
                                     width="16" height="16" decoding="async" data-nimg="1" loading="lazy"
                                     style="color:transparent">
                            </span>
                        </a> - CPU
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://support.apple.com/kb/SP756?locale=tr_TR"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">
                                AMD Radeon Pro 555 2gb
                            </span><span class="">
                                <img src="https://cdn-icons-png.flaticon.com/512/5969/5969036.png" width="16" height="16" decoding="async" data-nimg="1" loading="lazy"
                                     style="color:transparent">
                            </span>
                        </a> - 1.CPU
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://support.apple.com/kb/SP756?locale=tr_TR"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">
                                Intel HD Graphics 630 1536 MB
                            </span><span class="">
                                <img src="https://companieslogo.com/img/orig/INTC.D-ad4f349c.png?t=1633221777" width="16" height="16" decoding="async" data-nimg="1" loading="lazy"
                                     style="color:transparent">
                            </span>
                        </a> - 2.GPU
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://support.apple.com/kb/SP756?locale=tr_TR"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">Apple 16 GB 2133 Mhz LPDDR3</span><span class="">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Apple_logo_white.svg/1724px-Apple_logo_white.svg.png" width="16" height="16" decoding="async" data-nimg="1" loading="lazy"
                                     style="color:transparent">
                            </span>
                        </a> - RAM
                    </li>
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://support.apple.com/kb/SP756?locale=tr_TR"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">Apple SM0512L 500 GB </span><span class="">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Apple_logo_white.svg/1724px-Apple_logo_white.svg.png" width="16" height="16" decoding="async" data-nimg="1" loading="lazy"
                                     style="color:transparent">
                            </span>
                        </a> - SSD
                    </li>
                </ul>


                <p></p>
                <p><strong>Audio Gear:</strong></p>
                <ul class="PageContents_ul__eSbnT">
                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://row.hyperx.com/products/hyperx-cloud-stinger-core-ps?variant=40694002548941"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">HyperX HX-HSCSC-BK Cloud Stinger Core</span><span class="">
                                <img src="https://media.licdn.com/dms/image/C510BAQF5005y4n-01Q/company-logo_200_200/0/1519877464357?e=2147483647&v=beta&t=-K_JvIdI9NamxiWPSad3bUBfeM47UlrojmArlqbdf1s" width="16"
                                     height="16" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
                            </span>
                        </a> -
                        Headphones
                    </li>

                    <li class="@*PageContents_li__lXdhg*@">
                        <a target="_blank" rel="noopener noreferrer"
                           href="https://www.akakce.com/hoparlor/en-ucuz-snopy-sn-385-1-1-6-w-fiyati,774460109.html"
                           class="PageContents_link__ZpKnq PageContents_external__7_CR3 PageContents_listIcon__p3G43">
                            <span class="PageContents_underline__K0GRf" style="margin-left:10px">Snopy SN-385 1+1 6 W</span><span class="">
                                <img src="https://www.artsistem.com/upload/editor/data/ckfinder/images/markalar/snopy1-white.png"
                                     width="16" height="16" decoding="async" data-nimg="1" loading="lazy"
                                     style="color:transparent">
                            </span>
                        </a> - Speaker
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>