@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/AdminDashboard/style_logIn.css">
    <title>HASH TECHIE OFFICIAL</title>
</head>
<body>
    <section>

        <div class="video-container">
            <video autoplay loop muted>
                <source src="~/admindashboard/images/nebula_-_67135 (original).mp4" type="video/mp4">
            </video>
        </div>
        <div class="form-box">
            <div class="form-value">
                <form action="">
                    <h2>Giriş Sayfası</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" required>
                        <label for="">Email</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" required>
                        <label for="">Şifre</label>
                    </div>
                    <div class="forget">
                        <label for=""><a href="#">Şifremi unuttum</a></label>

                    </div>
                    <button>Giriş Yap</button>
                    <div class="register">
                        <p>Hesabım yok ?<a href="#"> Oluştur</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

</html>