.Grid_grid__qWybJ:before {
    content: "";
    width: 100%;
    height: 0;
    grid-column: 1/1;
    grid-row: 1/1;
    padding-bottom: 50%
}

@media (min-width:768px) {
    .Grid_grid__qWybJ:before {
        padding-bottom: 60%
    }
}

.Grid_grid__qWybJ :first-child {
    grid-column-start: 1 !important;
    grid-row-start: 1 !important
}

.Grid_item__dDKT7 {
    display: flex;
    position: relative;
    border-radius: var(--block-border-radius);
    background: var(--color-background-inset);
    overflow: hidden;
    text-shadow: 0 0 3rem var(--color-background-inset),0 0 2rem var(--color-background-inset);
    box-shadow: inset 0 0 0 1px rgb(var(--color-lighten-rgb),.06)
}

    .Grid_item__dDKT7:hover {
        background: var(--color-background-content)
    }

    .Grid_item__dDKT7:not(:hover) {
        transition: background .2s
    }

.Grid_grid__qWybJ .Grid_item__dDKT7 {
    grid-row: auto/span 1
}

@media (max-width:1024px) {
    .Grid_grid__qWybJ .Grid_item__dDKT7 {
        grid-column: auto/span 2
    }
}

.Grid_item__dDKT7 .Grid_coverimage__YWssv {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(225deg,rgba(0,0,0,.5),rgba(0,0,0,.494) 8.1%,rgba(0,0,0,.476) 15.5%,rgba(0,0,0,.448) 22.5%,rgba(0,0,0,.412) 29%,rgba(0,0,0,.37) 35.3%,rgba(0,0,0,.324) 41.2%,rgba(0,0,0,.275) 47.1%,rgba(0,0,0,.225) 52.9%,rgba(0,0,0,.176) 58.8%,rgba(0,0,0,.13) 64.7%,rgba(0,0,0,.088) 71%,rgba(0,0,0,.052) 77.5%,rgba(0,0,0,.024) 84.5%,rgba(0,0,0,.006) 91.9%,transparent);
    mask-image: linear-gradient(225deg,rgba(0,0,0,.5),rgba(0,0,0,.494) 8.1%,rgba(0,0,0,.476) 15.5%,rgba(0,0,0,.448) 22.5%,rgba(0,0,0,.412) 29%,rgba(0,0,0,.37) 35.3%,rgba(0,0,0,.324) 41.2%,rgba(0,0,0,.275) 47.1%,rgba(0,0,0,.225) 52.9%,rgba(0,0,0,.176) 58.8%,rgba(0,0,0,.13) 64.7%,rgba(0,0,0,.088) 71%,rgba(0,0,0,.052) 77.5%,rgba(0,0,0,.024) 84.5%,rgba(0,0,0,.006) 91.9%,transparent);
    opacity: .3
}

    .Grid_item__dDKT7 .Grid_coverimage__YWssv.Grid_color__T3Faf {
        background-color: var(--color-
        
        );
        opacity: .1
    }

.Grid_item__dDKT7 .Grid_contents__oOnhg {
    flex: 1 1;
    display: grid;
    grid-template-rows: repeat(2,min-content) auto;
    padding: var(--layout-horizontal-spacing);
    grid-gap: var(--spacing-nano);
    gap: var(--spacing-nano);
    transform: translateZ(0)
}

.Grid_postlist__IUqPG .Grid_item__dDKT7 .Grid_contents__oOnhg {
    grid-auto-flow: column;
    grid-template-columns: auto min-content
}

.Grid_postlist__IUqPG .Grid_item__dDKT7 .Grid_thumbnail__N8_BA {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
    align-self: top;
    width: clamp(100px,25vw,200px);
    height: auto;
    aspect-ratio: 1/1;
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing-nano)
}

@media (min-width:480px) {
    .Grid_postlist__IUqPG .Grid_item__dDKT7 .Grid_contents__oOnhg {
        column-gap: var(--layout-horizontal-spacing);
        margin-bottom: 0
    }

    .Grid_postlist__IUqPG .Grid_item__dDKT7 .Grid_thumbnail__N8_BA {
        align-self: center;
        grid-row: 1/-1
    }
}

.Grid_item__dDKT7 .Grid_title__JEuyG {
    font-size: clamp(1.25rem,6.8vw,2rem);
    font-weight: 700
}

.Grid_item__dDKT7 .Grid_bottom__9TqBe {
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

.Grid_item__dDKT7 .Grid_meta__JzDhZ {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    font-weight: 700;
    gap: .3rem;
    margin-left: -.2em;
    margin-bottom: var(--spacing-nano)
}

.Grid_metatag__1zmnP {
    padding: .2em .5em .1em;
    background: var(--color-background);
    border-radius: var(--border-radius)
}

    .Grid_metatag__1zmnP.Grid_type__0SDIt {
        color: var(--color-orange)
    }

    .Grid_metatag__1zmnP.Grid_new__Uuyne {
        color: var(--color-red)
    }

.Grid_item__dDKT7 .Grid_header__t0wSz {
    color: var(--color-foreground-bright);
    background-image: linear-gradient(var(--color-background-inset),var(--color-background-inset));
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 50%
}

    .Grid_item__dDKT7 .Grid_header__t0wSz:before {
        content: "";
        position: absolute;
        inset: 0
    }

.Grid_item__dDKT7 .Grid_description__vJYXJ {
    color: var(--color-foreground);
    font-weight: 700;
    font-size: 1.1rem;
    max-width: 32rem
}

@media (max-width:479px) {
    .Grid_item__dDKT7 .Grid_description__vJYXJ {
        grid-column: 1/-1
    }
}

@media (min-width:768px) {
    .Grid_item__dDKT7 .Grid_contents__oOnhg {
        padding: calc(var(--layout-horizontal-spacing) * var(--golden-ratio-lower)) var(--layout-horizontal-spacing)
    }

    .Grid_item__dDKT7 .Grid_description__vJYXJ {
        font-size: 1.2rem
    }
}

.Grid_item__dDKT7 .Grid_cta__CtM1J {
    margin-top: var(--spacing-small);
    display: inline-block;
    position: relative;
    place-self: end start;
    color: var(--color-cyan-soft);
    font-weight: 700;
    font-size: 1.2rem
}

    .Grid_item__dDKT7 .Grid_cta__CtM1J:after {
        content: " →"
    }

    .Grid_item__dDKT7 .Grid_cta__CtM1J:hover {
        text-decoration: underline
    }

    .Grid_item__dDKT7 .Grid_cta__CtM1J:active {
        transform: scale(.95)
    }

.Grid_sidebar__HSqd5 {
    grid-row: 1/span 2;
    grid-column: 1/span 2
}

.Grid_postlist__IUqPG {
    grid-auto-rows: min-content
}

    .Grid_postlist__IUqPG .Grid_item__dDKT7 {
        grid-column: 1/span 2
    }

@media (min-width:1025px) {
    .Grid_sidebar__HSqd5 {
        grid-column: 1/span 1
    }

    .Grid_postlist__IUqPG .Grid_item__dDKT7 {
        grid-column: 2/span 2
    }
}

.Hero_hero__q3Jev {
    --color-background-home-hero: #02070c;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-page-width-wide);
    --border-radius-lerp: clamp(var(--gap),100vw - var(--max-content-width) - (var(--layout-horizontal-page-padding) * 2) + var(--gap),var(--block-border-radius-large));
    border-radius: var(--border-radius-lerp);
    background: var(--color-background-home-hero);
    overflow: hidden;
    min-height: 60vh
}

    .Hero_hero__q3Jev .Hero_media__O83zW {
        position: absolute;
        inset: 0
    }

        .Hero_hero__q3Jev .Hero_media__O83zW img {
            object-fit: cover;
            object-position: left
        }

    .Hero_hero__q3Jev .Hero_inner__TdZ2M {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
        width: var(--max-content-width);
        padding: var(--spacing) var(--layout-horizontal-spacing);
        margin: 0 auto;
        filter: drop-shadow(0 0 3em var(--color-background-home-hero)) drop-shadow(0 0 2em var(--color-background-home-hero)) drop-shadow(0 0 1em var(--color-background-home-hero))
    }

        .Hero_hero__q3Jev .Hero_inner__TdZ2M > * {
            transform: translateZ(0)
        }

    .Hero_hero__q3Jev .Hero_emoji__96kjb {
        font-size: min(5.1vw,2rem);
        line-height: 100%
    }

    .Hero_hero__q3Jev .Hero_text__l0MXQ {
        z-index: 2;
        position: relative;
        color: var(--color-foreground-bright);
        font-size: clamp(1.25rem,6.8vw,2rem);
        max-width: 400px;
        font-weight: 700
    }

    .Hero_hero__q3Jev .Hero_name___Z3Cw {
        background: linear-gradient(91.27deg,var(--color-red-soft) 22.69%,#fe80bf 97.28%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent
    }

    .Hero_hero__q3Jev .Hero_title__nGUHa {
        background: linear-gradient(93.4deg,#ffcc80,#fcff80);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent
    }

    .Hero_hero__q3Jev .Hero_mission__vtpV7 {
        background: linear-gradient(93.4deg,#aeaed8,#c2aed8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent
    }

    .Hero_hero__q3Jev .Hero_cta__mK43C {
        display: inline-block;
        position: relative;
        color: var(--color-cyan);
        font-weight: 700;
        font-size: clamp(1.25rem,6.8vw,2rem)
    }

        .Hero_hero__q3Jev .Hero_cta__mK43C:hover {
            text-decoration: underline
        }

        .Hero_hero__q3Jev .Hero_cta__mK43C:active {
            transform: scale(.95)
        }

        .Hero_hero__q3Jev .Hero_cta__mK43C:after {
            content: " →"
        }

@media (min-width:768px) {
    .Hero_hero__q3Jev {
        min-height: unset;
        aspect-ratio: 16/9
    }

        .Hero_hero__q3Jev .Hero_inner__TdZ2M {
            gap: 4em
        }
}

@media (min-width:1025px) {
    .Hero_hero__q3Jev .Hero_text__l0MXQ {
        font-size: clamp(1.25rem,6.4vw,2.5rem);
        max-width: 500px
    }
}
