<div id="div1">
    <button id="button">Selamla</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#button").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "GET",
                url: "/Admin/User/GetJsonWithAjax2",
                success: function (func) {
                    console.log(func);
                }
            });
        })
    })
</script>