@using Blog_Page.Models;
@model CreateUserModel

<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Kullanıcı Oluşturma Sayfası</h2>
                    <p class="card-description"> Yeni Kullanıcı </p>
                    <form method="post" asp-area="Admin" asp-controller="User" asp-action="Insert" class="forms-sample">
                        <div class="form-group">
                            <label asp-for="userName">Kullanıcı Adı</label>
                            <input asp-for="userName" type="text" class="form-control" placeholder="Kullanıcı Adı:">
                            <span class="text-danger" asp-validation-for="userName"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" type="email" class="form-control" placeholder="Email:">
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password">Şifre</label>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Şifre:">
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                        <button type="submit" class="btn btn-success">Oluştur</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

