@using Blog_Page.Models;
@model AppUser

<form method="post" asp-controller="User" asp-action="Insert">
    <div class="mb-3">
        <label class="form-label" asp-for="userName">Kullanıcı Adı</label>
        <input type="text" class="form-control" asp-for="userName" />
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>