<!-- Credentials -->
<section class="credential-area">
    <div class="container">
        <div class="gx-row d-flex">
            <div class="credential-sidebar-wrap" data-aos="zoom-in">
                <div class="credential-sidebar text-center">
                    <div class="shadow-box">
                        <img src="~/Website/Home/images/bg1.png" alt="BG" class="bg-img">
                        <div class="img-box">
                            <img src="~/Website/Home/images/s3limm.png" alt="About Me">
                        </div>
                        <h2>Yavuz Selim Emrem</h2>
                        <p>Yavuz Selim Emrem</p>

                        <ul class="social-links d-flex justify-content-center">
                            <li><a href="https://github.com/s3limm?tab=overview&from=2024-05-01&to=2024-05-11"><i class="iconoir-github"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/yavuz-selim-emrem/"><i class="iconoir-linkedin"></i></a></li>
                            <li><a href="https://www.instagram.com/s3limm06/"><i class="iconoir-instagram"></i></a></li>
                            <li><a href="selimemrem06@gmail.com"><i class="iconoir-mail"></i></a></li>
                        </ul>

                        <a href="~/Contact/Index" class="theme-btn">Contact Me</a>
                    </div>
                </div>
            </div>

            <div class="credential-content flex-1">
                <div class="credential-about" data-aos="zoom-in">
                    <h2>About Me</h2>
                    <p>I try to be someone who is open to learning. Because of my interest in the world of technology and software, I enjoy constantly improving myself in the software field. I try to improve my analytical thinking and problem-solving skills and constantly conduct research to effectively cope with the challenges I encounter.</p>
                    <p>My career goals include taking a leading role by following innovations in the software field and improving my ability to solve problems. I want to creatively integrate technology into people's daily lives.</p>
                </div>

                <div class="credential-edc-exp credential-experience">
                    <h2 data-aos="fade-up">Intern</h2>
                    <div class="credential-edc-exp-item" data-aos="zoom-in">
                        <h4>10.10.2023 - 21.05.2024</h4>
                        <h3>Internship</h3>
                        <h5>Mikro Yazılım</h5>
                        <p>Sit amet luctussd fav venenatis, lectus magna fringilla inis urna, porttitor rhoncus dolor purus non enim praesent in elementum sahas facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etisam dignissim diam quis enim lobortis viverra orci sagittis eu volutpat odio facilisis mauris sit.</p>
                    </div>
                    <div class="credential-edc-exp-item" data-aos="zoom-in">
                        <h4>27.06.2022 - 21.07.2023</h4>
                        <h3>Internship</h3>
                        <h5>Neva Yazılım</h5>
                        <p>Sit amet luctussd fav venenatis, lectus magna fringilla inis urna, porttitor rhoncus dolor purus non enim praesent in elementum sahas facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etisam dignissim diam quis enim lobortis viverra orci sagittis eu volutpat odio facilisis mauris sit.</p>
                    </div>
                </div>

                <div class="credential-edc-exp credential-education">
                    <h2 data-aos="fade-up">Education</h2>
                    <div class="credential-edc-exp-item" data-aos="zoom-in">
                        <h4>2022 - 2024</h4>
                        <h3>Computer Programming</h3>
                        <h5>IstanbulAydın University</h5>
                        <p>Sit amet luctussd fav venenatis, lectus magna fringilla inis urna, porttitor rhoncus dolor purus non enim praesent in elementum sahas facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etisam dignissim diam quis enim lobortis viverra orci sagittis eu volutpat odio facilisis mauris sit.</p>
                    </div>
                </div>

                <div class="skills-wrap">
                    <h2 data-aos="fade-up">Skills</h2>
                    <div class="d-grid skill-items gap-24 flex-wrap">
                        <div class="skill-item" data-aos="zoom-in">
                            <span class="percent">85%</span>
                            <h3 class="name">C#</h3>
                            <p>Non enim praesent</p>
                        </div>
                        <div class="skill-item" data-aos="zoom-in">
                            <span class="percent">78%</span>
                            <h3 class="name">Html</h3>
                            <p>Non enim praesent</p>
                        </div>
                        <div class="skill-item" data-aos="zoom-in">
                            <span class="percent">92%</span>
                            <h3 class="name">Css</h3>
                            <p>Non enim praesent</p>
                        </div>
                        <div class="skill-item" data-aos="zoom-in">
                            <span class="percent">90%</span>
                            <h3 class="name">Asp.Net Core</h3>
                            <p>Non enim praesent</p>
                        </div>
                        <div class="skill-item" data-aos="zoom-in">
                            <span class="percent">81%</span>
                            <h3 class="name">SQL</h3>
                            <p>Non enim praesent</p>
                        </div>
                        <div class="skill-item" data-aos="zoom-in">
                            <span class="percent">87%</span>
                            <h3 class="name">Wordpress</h3>
                            <p>Non enim praesent</p>
                        </div>
                        <div class="skill-item" data-aos="zoom-in">
                            <span class="percent">87%</span>
                            <h3 class="name">Canva</h3>
                            <p>Non enim praesent</p>
                        </div>
                        <div class="skill-item" data-aos="zoom-in">
                            <span class="percent">87%</span>
                            <h3 class="name">Adobe After Effect</h3>
                            <p>Non enim praesent</p>
                        </div>
                        <div class="skill-item" data-aos="zoom-in">
                            <span class="percent">87%</span>
                            <h3 class="name">Adobe Illustrator</h3>
                            <p>Non enim praesent</p>
                        </div>
                    </div>
                </div>

                <div class="skills-wrap awards-wrap">
                    <h2 data-aos="fade-up">Languages</h2>
                    <div class="d-grid skill-items gap-24 flex-wrap">
                        <div class="skill-item" data-aos="zoom-in">
                            <h3 class="name">English</h3>
                            <p>B1 Level sertificated</p>
                        </div>
                        <div class="skill-item" data-aos="zoom-in">
                            <h3 class="name">German</h3>
                            <p>A2 Level sertificated</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>