<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/AdminDashboard/style_logIn.css">
    <title>S3limm-Admin Panel Login</title>
</head>
<body>
    <section>

        <div class="video-container">
            @*<video autoplay loop muted>
            <source src="~/admindashboard/images/nebula_-_67135 (original).mp4" type="video/mp4">
            </video>*@

            <img src="https://wallpapercave.com/wp/wp6123815.jpg" width="1920" height="1080" />
        </div>

        @RenderBody()

    </section>
</body>
<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });

</script>
</html>

